@import 'libs/smart-grid.less';
@import 'libs/vars.less';
@import 'libs/mixins.less';
@import '../../node_modules/slick-carousel/slick/slick.less';

/* Set defaults */

html{
	scroll-behavior: smooth;
}

html,
body{
	box-sizing: border-box;
}

*,
*:before,
*:after{
	box-sizing: inherit;
}

body{
	font-family: 'Montserrat', 'Open Sans', 'Arial', sans-serif;
	max-width: 1920px;
	margin: 0 auto;
	font-size: 16px;
	font-weight: @fontNormal;
	line-height: 1.5;
}

::-webkit-scrollbar{
	width: 10px;
	height: 5px;
	background-color: #eee;
}

::-webkit-scrollbar-thumb{
	border-radius: 2px;
	background-color: @scrollColor;
}

img,
video{
	max-width: 100%;
	height: auto;
}

a{
	text-decoration: none;
}

/* Atomic */

.d-n{
	display: none !important;
}

.d-b{
	display: block !important;
}

.ov-h{
	overflow: hidden;
}


/* Global */

.wrapper{
	.wrapper();
}

.row{
	.row-flex();
}

.col{
	.col();
}

.sr-only{
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/* General */

.main-header{
	padding-top: 30px;
	padding-bottom: 30px;
	position: sticky;
	top: 0;
	left: 0;
	background-color: #fff;
	z-index: 9999;
	&__wrap{
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		font-weight: @fontMedium;
		font-size: 16px;
		color: #000;
		line-height: 1.25;
	}

	&__logolink{
		position: absolute;
		display: block;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	a{
		color: #000;
	}
}

.main-nav{
	display: flex;
	align-items: baseline;
	&__link{
		& + &{
			margin-left: 20px;
		}
		&::after{
			content: '';
			opacity: 0;
			display: block;
			width: 0;
			border-bottom: 1px solid #000;
			transition: @transT;
		}
		&:hover::after{
			width: 100%;
			opacity: 1;
		}
	}
}

.main-info{
	display: flex;
	align-items: baseline;
	&__address{
		margin: 0;
	}
	&__tels{
		list-style: none;
		display: flex;
		align-items: baseline;
		margin: 0;
		padding: 0;
		margin-left: 20px;
	}
	&__address,
	&__link{
		& + &{
			margin-left: 20px;
		}
		&::after{
			content: '';
			display: block;
			width: 0;
			border-bottom: 1px solid #000;
			transition: @transT;
		}
		&:hover::after{
			width: 100%;
		}
	}
}

@bannerOffset: 110px;
.banner-slider{
	padding-bottom: @bannerOffset / 2;
	&__img{
		width: 100%;
	}
	.slick-dots{
		margin: 0;
		padding: 0;
		padding-top: 34px;
		list-style: none;
		display: flex;
		justify-content: center;
		li{
			width: 24px;
			height: 2px;
		}
		li + li{
			margin-left: 8px;
		}
		.slick-active{
			button{
				background-color: #000;
			}
		}
		button{
			.btn-reset();
			display: block;
			background-color: @dotsGrey;
			border: none;
			font-size: 0;
			width: 100%;
			height: 2px;
			transition: @transT;
			&:hover{
				background-color: #000;
			}
			// TODO: hover/focus/active
		}
	}
}

@articlesOffets: 228px;
.articles{
	padding-top: @bannerOffset / 2;
	.pb(228px);
	min-height: 100vh;
}

.article{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	&:nth-child(odd){
		flex-direction: row-reverse;
		justify-content: flex-end;
		.article__img{
			margin-right: 20px;
		}
		.article__wrap{
			padding-left: 28px;
		}
	}
	& + &{
		margin-top: 228px;
	}
	&__img{
		.size(7);
	}
	&__wrap{
		.size(4);
	}
	&__h{
		font-family: @prata;
		font-size: 64px;
		font-weight: @fontNormal;
		line-height: 1.35;
		margin: 0;
		margin-bottom: 28px;
	}
	&__text{
		margin: 0;
		margin-bottom: 13px;
	}
	&__link{
		padding: 0;
		position: relative;
		display: block;
		height: 55px;
		line-height: 55px;
		width: 293px;
		font-weight: @fontMedium;
		font-size: 18px;
		color: #000;
		background-image: url(../img/icons/download-arrow.svg);
		background-size: 16px 20px;
		background-position: 213px center;
		background-repeat: no-repeat;
		transition: @transT;
		&::before,
		&::after{
			content: "";
			opacity: 0;
			display: block;
			position: absolute;
			width: 0;
			height: 0;
			border: 2px solid @actionColor;
			transition: @transT;
		}
		&::before{
			border-top: none;
			border-right: none;
			bottom: -1px;
			left: -1px;
		}
		&::after{
			border-left: none;
			border-bottom: none;
			right: -0px;
			top: -0px;
		}
		&:hover::before,
		&:hover::after,
		&:focus::before,
		&:focus::after,
		&:active::before,
		&:active::after{
			opacity: 1;
			width: 100%;
			height: 100%;
		}
		&:hover,
		&:focus,
		&:active{
			outline: none;
			padding-left: 27px;
			background-position-x: 213px + 27px;
		}
		&:active{
			background-color: @actionColor;
		}
	}
}

@formOffset: {top: 140px; bottom: 172px};
.block-form{
	background-color: #000;
	color: #fff;
	.padding(
		@formOffset[top], 
		@formOffset[bottom]
	);
	&__wrap{
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		flex-wrap: wrap;
	}
	&__info{
		.size(4);
	}
	&__form{
		.size(7);
	}
	&__h{
		font-size: 64px / 1440px * 100vw;
		font-family: @prata;
		font-weight: 400;
		line-height: 1.35;
		margin: 0;
		margin-bottom: 28px;
	}
	&__text,
	&__link{
		color: #fff;
	}
	&__text{
		margin: 0;
		margin-bottom: 28px;
		display: flex;
	}
}

.main-form{
	&__label{
		margin-bottom: 13px;
		display: block;
	}
	&__input{
		padding-top: 3px;
		padding-bottom: 10px;
		display: block;
		width: 100%;
		background-color: transparent;
		border: none;
		border-bottom: 1px solid @inputGrey;
		font: inherit;
		margin-bottom: 28px;
		&::placeholder{
			color: #fff;
		}
		&_textarea{
			border: 1px solid @inputGrey;
			resize: vertical;
			min-height: 114px;
		}
	}
	&__btn{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 194px;
		height: 60px;
		line-height: 60px;
		text-align: center;
		color: #fff;
		font-size: 18px;
		font-weight: @fontMedium;
		border: 1px solid #fff;
		background-color: transparent;
		transition: @transT;
		cursor: pointer;
		svg{
			margin-left: 15px;
			transform: rotate(-90deg);
		}
		path{
			fill: #fff;
			stroke: #fff;
			transition: @transT;
		}
		&:hover,
		&:focus{
			background-color: #fff;
			color: #000;
			path{
				fill: #000;
				stroke: #000;
			}
		}
	}
}

@portfolioOffset: {top: 228px; bottom: 108px};
.portfolio{
	.padding(
		@portfolioOffset[top], 
		@portfolioOffset[bottom]
	);
	&__h{
		font-family: @prata;
		font-weight: @fontNormal;
		font-size: 64px;
		line-height: 1.35;
		text-align: center;
		margin: 0;
		margin-bottom: 60px;
	}
	&__list{
		padding: 0;
		margin-bottom: 60px;
		list-style: none;
		.row-flex();
	}
	&__example{
		margin-bottom: 20px;
		.col();
		.size(4);
		&:first-child{
			.size(8);
		}
	}
	&__figure{
		margin: 0;
		padding: 0;
		position: relative;
		z-index: 1;
		&::before{
			content: '';
			opacity: 0;
			z-index: 2;
			display: block;
			position: absolute;
			left: 0;
			bottom: 0;
			right: 0;
			top: 0;
			background-color: rgba(255,255,255,0.5);
			transition: @transT;
		}
		&:hover::before,
		&:hover .portfolio__caption,
		&:hover .portfolio__caption::before{
			opacity: 1;
		}
	}
	&__caption{
		transition: @transT;
		text-align: center;
		font-size: 18px;
		font-family: @prata;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		z-index: 3;
		width: 77.3%;
		height: 78.7%;
		top: 50%;
		left: 50%;
		padding: 37px;
		transform: translate(-50%, -50%);
		background-color: rgba(255,255,255,0.9);
		opacity: 0;
		transition: @transT;
		transition-delay: @transT / 3;
		&::before{
			content: '';
			display: block;
			position: absolute;
			opacity: 0;
			top: 24px;
			left: 24px;
			right: 24px;
			bottom: 24px;
			border: 1px solid #000;
			z-index: 4;
			transition: @transT;
			transition-delay: @transT / 2;
		}
	}
	&__photo{
		object-fit: cover;
		width: 100%;
		height: 100%;
		display: block;
	}
	&__link{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 194px;
		height: 60px;
		margin: 0 auto;
		line-height: 60px;
		text-align: center;
		color: #000;
		font-size: 18px;
		font-weight: @fontMedium;
		border: 1px solid #000;
		background-color: transparent;
		transition: @transT;
		cursor: pointer;
		svg{
			margin-left: 15px;
			transform: rotate(-90deg);
		}
		path{
			fill: #000;
			stroke: #000;
			transition: @transT;
		}
		&:hover,
		&:focus{
			background-color: #000;
			color: #fff;
			path{
				fill: #fff;
				stroke: #fff;
			}
		}
	}
}

@footerOffset: {top: 110px; bottom: 44px};
.main-footer{
	padding-bottom: @footerOffset[bottom];
	.pt(
		@footerOffset[top]
	);
	.main-form{
		margin-bottom: 110px;
	}
	.block-form{
		&__h{
			margin-bottom: 44px;
		}
		&__link{
			&::after{
				content: '';
				display: block;
				width: 0;
				opacity: 0;
				border-bottom: 1px solid #fff;
				transition: @transT;
			}
			&:hover::after{
				width: 100%;
				opacity: 1;
			}
		}
	}
}

.social-links{
	display: flex;
	color: #fff;
	list-style: none;
	align-items: baseline;
	padding: 0;
	transition: @transT;
	li + li{
		margin-left: 15px;
	}
	&__link{
		color: #fff;
		&:hover,
		&:focus{
			color: @actionColor;
		}
	}
}

.copyright{
	font-size: 12px;
	line-height: 15px;
	color: @inputGrey;
}

.main-call{
	position: fixed;
	z-index: 9999;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
	padding-right: 3vw;
	display: flex;
	justify-content: flex-end;

	&__btn{
		.btn-reset();
		display: block;
		width: 56px;
		height: 56px;
		background-color: #fff;
		border-radius: 50%;
		box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.3);
		transition: @transT;
		svg{
			width: 17px;
			position: relative;
			top: 4px;
		}
		path{
			fill: #000;
			transition: @transT;
		}
		&:hover,
		&:focus{
			background-color: #000;
			path{
				fill: #fff;
			}
		}
	}
}

.modal{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 999999;
	background-color: rgba(255,255,255,0.9);
	&.active{
		display: block;
	}
	.block-form_white{
		background-color: #fff;
		color: #000;
		padding: 50px 0;
	}
	.block-form{
		&__label,
		&__text,
		&__link{
			color: #000;
		}
		&__link{
			&::after{
				content: '';
				display: block;
				width: 0;
				opacity: 0;
				border-bottom: 1px solid #000;
				transition: @transT;
			}
			&:hover::after{
				width: 100%;
				opacity: 1;
			}
		}
	}
	.main-form{
		&__label{
			color: #000;
		}
		&__input{
			color: #000;
			border-color: #000;
			&::placeholder{
				color: #000 !important;
			}
			&_textarea{
				border: 1px solid #000;
			}
		}
		&__btn{
			color: #000;
			border: 1px solid #000;
			path{
				fill: #000;
				stroke: #000;
				transition: @transT;
			}
			&:hover,
			&:focus{
				background-color: #000;
				color: #fff;
				path{
					fill: #fff;
					stroke: #fff;
				}
			}
		}
	}
}

.modal-content{
	display: none;
	height: 100vh;
	overflow: auto;
	&.active{
		display: block;
	}
}

.modal-close{
	display: flex;
	border: none;
	cursor: pointer;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 20px;
	right: 20px;
	padding: 0;
	background-color: transparent;
	transition: @transT;
	&:hover{
		transform: scale(1.2);
	}
}