<footer class="block-form">
    <div class="wrapper block-form__wrap">
        <div class="block-form__info">
            <h2 class="block-form__h">
                Зв’яжіться з нами
            </h2>
            <p class="block-form__text">
                <a href="tel:+380631302884" class="block-form__link">
                    +38 063 130 28 84
                </a>
            </p>
            <p class="block-form__text">
                <a href="mailto:vetta.stones@gmail.com" class="block-form__link">
                    vetta.stones@gmail.com
                </a>
            </p>
            <p class="block-form__text">
                <a 
                    href="#" 
                    class="block-form__link" 
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    vetta.stones@gmail.com
                </a>
            </p>
            <ul class="block-form__links social-links">
                <li>
                    <a 
                        target="_blank" 
                        href="#" 
                        class="social-links__link"
                        aria-label="Наш Facebook"
                        rel="noopener noreferrer"
                    >
                        Fb
                    </a>
                </li>
                <li>
                    <a 
                        target="_blank" 
                        href="#" 
                        class="social-links__link"
                        aria-label="Наш Instagram"
                        rel="noopener noreferrer"
                    >
                        In
                    </a>
                </li>
            </ul>
        </div>
        <form 
            action="#" 
            class="block-form__form main-form"
        >
            <label for="form-name" class="main-form__label sr-only">
                Напишіть своє ім'я:
            </label>
            <input placeholder="Ваше Ім'я" id="form-name" type="text" class="main-form__input">
            <label for="form-phone" class="main-form__label sr-only">
                Напишіть свій номер телефону:
            </label>
            <input placeholder="Номер телефону" id="form-phone" type="text" class="main-form__input">
            <label for="form-email" class="main-form__label sr-only">
                Напишіть свою електронну пошту:
            </label>
            <input placeholder="Email" id="form-email" type="text" class="main-form__input">
            <label for="form-message" class="main-form__label">
                Текст повідомлення
            </label>
            <textarea id="form-message" class="main-form__input"></textarea>
            <button type="submit" class="main-form__btn">
                Надіслати
            </button>
        </form>
        <p class="copyright">
            copyright 2020 Всі права захищені
        </p>
    </div>
</footer>

<aside 
    aria-label="Замовити зворотній дзвінок" 
    class="main-call"
>
    <button 
        aria-label="Відкрити форму для замовлення дзвінка" 
        class="main-call__btn"
    >
    </button>
</aside>

<script src="./js/js.js"></script>
</body>
</html>