<footer class="block-form main-footer">
    <div class="wrapper block-form__wrap">
        <div class="block-form__info">
            <h2 class="block-form__h">
                Зв’яжіться з нами
            </h2>
            <p class="block-form__text">
                <a href="tel:+380631302884" class="block-form__link">
                    +38 063 130 28 84
                </a>
            </p>
            <p class="block-form__text">
                <a href="mailto:vetta.stones@gmail.com" class="block-form__link">
                    vetta.stones@gmail.com
                </a>
            </p>
            <p class="block-form__text">
                <a 
                    href="https://www.google.com.ua/maps/place/%D1%83%D0%BB.+%D0%93%D0%BD%D0%B5%D0%B7%D0%B4%D0%BE%D0%B2%D1%81%D0%BA%D0%BE%D0%B3%D0%BE,+2,+%D0%9B%D1%8C%D0%B2%D0%BE%D0%B2,+%D0%9B%D1%8C%D0%B2%D0%BE%D0%B2%D1%81%D0%BA%D0%B0%D1%8F+%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C,+79000/@49.8385952,23.9689521,17z/data=!4m13!1m7!3m6!1s0x473addf5a034c3e1:0x1aaab1d6c08e21c6!2z0YPQuy4g0JPQvdC10LfQtNC-0LLRgdC60L7Qs9C-LCAyLCDQm9GM0LLQvtCyLCDQm9GM0LLQvtCy0YHQutCw0Y8g0L7QsdC70LDRgdGC0YwsIDc5MDAw!3b1!8m2!3d49.8385222!4d23.9688125!3m4!1s0x473addf5a034c3e1:0x1aaab1d6c08e21c6!8m2!3d49.8385222!4d23.9688125?hl=ru" 
                    class="block-form__link" 
                    target="_blank"
                    rel="noopener noreferrer"
                    aria-label="місто Львів, вулиця Гніздовського 2"
                >
                    м. Львів, вул. Гніздовського 2
                </a>
            </p>
            <ul class="block-form__links social-links">
                <li>
                    <a 
                        target="_blank" 
                        href="#" 
                        class="social-links__link"
                        aria-label="Наш Facebook"
                        rel="noopener noreferrer"
                    >
                        Fb
                    </a>
                </li>
                <li>
                    <a 
                        target="_blank" 
                        href="#" 
                        class="social-links__link"
                        aria-label="Наш Instagram"
                        rel="noopener noreferrer"
                    >
                        In
                    </a>
                </li>
            </ul>
        </div>
        <form 
            action="#" 
            class="block-form__form main-form"
        >
            <label for="footer-form-name" class="main-form__label sr-only">
                Напишіть своє ім'я:
            </label>
            <input placeholder="Ваше Ім'я" id="footer-form-name" type="text" class="main-form__input">
            <label for="footer-form-phone" class="main-form__label sr-only">
                Напишіть свій номер телефону:
            </label>
            <input placeholder="Номер телефону" id="footer-form-phone" type="text" class="main-form__input">
            <label for="footer-form-email" class="main-form__label sr-only">
                Напишіть свою електронну пошту:
            </label>
            <input placeholder="Email" id="footer-form-email" type="text" class="main-form__input">
            <label for="footer-form-message" class="main-form__label">
                Текст повідомлення
            </label>
            <textarea id="footer-form-message" class="main-form__input main-form__input_textarea"></textarea>
            <button type="submit" class="main-form__btn">
                Надіслати
                {% include './svgo/arrow.svg' %}
            </button>
        </form>
        <p class="copyright">
            copyright 2020 Всі права захищені
        </p>
    </div>
</footer>

<aside 
    aria-label="Замовити зворотній дзвінок" 
    class="main-call"
>
    <button 
        aria-label="Відкрити форму для замовлення дзвінка" 
        class="main-call__btn"
    >
        {% include './svgo/phone.svg' %}
    </button>
</aside>

<div class="modal">
    <div class="modal-content block-form block-form_white">
        <div class="wrapper block-form__wrap">
            <div class="block-form__info">
                <h2 class="block-form__h">
                    Зв’яжіться з нами
                </h2>
                <p class="block-form__text">
                    Залиште Ваші контакти і ми зв’яжемось з Вами найближчим часом для розрахунку вартості
                </p>
            </div>
            <form 
                action="#" 
                class="block-form__form main-form"
            >
                <label for="modal-form-name" class="main-form__label sr-only">
                    Напишіть своє ім'я:
                </label>
                <input placeholder="Ваше Ім'я" id="modal-form-name" type="text" class="main-form__input">
                <label for="modal-form-phone" class="main-form__label sr-only">
                    Напишіть свій номер телефону:
                </label>
                <input placeholder="Номер телефону" id="modal-form-phone" type="text" class="main-form__input">
                <label for="modal-form-email" class="main-form__label sr-only">
                    Напишіть свою електронну пошту:
                </label>
                <input placeholder="Email" id="modal-form-email" type="text" class="main-form__input">
                <label for="modal-form-message" class="main-form__label">
                    Текст повідомлення
                </label>
                <textarea id="modal-form-message" class="main-form__input main-form__input_textarea"></textarea>
                <button type="submit" class="main-form__btn">
                    Надіслати {% include './svgo/arrow.svg' %}
                </button>
            </form>
        </div>
    </div>
    <button class="modal-close action-close" aria-label="Закрити вікно">
        {% include './svgo/ico-close.svg' %}
    </button>
</div>

<script src="./js/js.js"></script>
</body>
</html>