<header class="main-header">
    <div class="wrapper main-header__wrap">
        <button class="main-header__action main-header__action_nav action action-nav" aria-label="Відкрити меню навігації">
            {% include './svgo/ico-burger-menu.svg' %}
        </button>
        <nav class="main-header__nav main-nav">
            <a href="#calc" class="main-nav__link">Розрахунок</a>
            <a href="#products" class="main-nav__link">Вироби</a>
            <a href="#portfolio" class="main-nav__link">Наші роботи</a>
        </nav>
        <a href="#top" class="main-header__logolink">
            <img 
                src="img/logo.svg" 
                alt="Логотип компанії Vetta Stone" 
                class="main-header__logo"
            >
        </a>
        <aside 
            aria-label="Адреса та список телефонів" 
            class="main-header__info main-info"
        >
            <a 
                aria-label="вулиця Гніздовського 2" 
                class="main-info__address main-info__link"
                href="https://www.google.com.ua/maps/place/%D1%83%D0%BB.+%D0%93%D0%BD%D0%B5%D0%B7%D0%B4%D0%BE%D0%B2%D1%81%D0%BA%D0%BE%D0%B3%D0%BE,+2,+%D0%9B%D1%8C%D0%B2%D0%BE%D0%B2,+%D0%9B%D1%8C%D0%B2%D0%BE%D0%B2%D1%81%D0%BA%D0%B0%D1%8F+%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C,+79000/@49.8385952,23.9689521,17z/data=!4m13!1m7!3m6!1s0x473addf5a034c3e1:0x1aaab1d6c08e21c6!2z0YPQuy4g0JPQvdC10LfQtNC-0LLRgdC60L7Qs9C-LCAyLCDQm9GM0LLQvtCyLCDQm9GM0LLQvtCy0YHQutCw0Y8g0L7QsdC70LDRgdGC0YwsIDc5MDAw!3b1!8m2!3d49.8385222!4d23.9688125!3m4!1s0x473addf5a034c3e1:0x1aaab1d6c08e21c6!8m2!3d49.8385222!4d23.9688125?hl=ru
                rel="noopener noreferrer"
                target="_blank"
            >
                вул. Гніздовського 2
            </a>
            <ul aria-label="Список телефонів" class="main-info__tels">
                <li class="main-info__tel">
                    <a href="tel:+380631302884" class="main-info__link">
                        +38 063 130 28 84
                    </a>
                </li>
            </ul>
        </aside>
        <button aria-label="Відкрити контактну інформацію" class="main-header__action main-header__action_info action action-info">
            <svg width="30" height="20" viewBox="0 0 192 512">
                <path d="M20 424.229h20V279.771H20c-11.046 0-20-8.954-20-20V212c0-11.046 8.954-20 20-20h112c11.046 0 20 8.954 20 20v212.229h20c11.046 0 20 8.954 20 20V492c0 11.046-8.954 20-20 20H20c-11.046 0-20-8.954-20-20v-47.771c0-11.046 8.954-20 20-20zM96 0C56.235 0 24 32.235 24 72s32.235 72 72 72 72-32.235 72-72S135.764 0 96 0z" />
              </svg>
        </button>
    </div>
</header>